#map_nav
{
  color: black;
-ms-grid-row: 2;
grid-row: 2;
-ms-grid-column: 2;
-ms-grid-column-span: 1;
grid-column: 2 / span 1;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
grid-columns: 1 / span 4 !important;
}

h2 {
margin-top: 10%;
-ms-grid-row: 1;
grid-row: 1;
grid-column: 2 / span 4 !important;
display: -ms-grid;

}



main {
-ms-grid-row: 3;
grid-row: 3;
-ms-grid-column: 1;
-ms-grid-column-span: 5;
grid-column: 1 / span 5;
width: 100%;
-ms-grid-columns: 1fr 1fr 1fr;
grid-template-columns: 1fr 1fr 1fr;
-ms-grid-rows: 1fr 1fr;
grid-template-rows: 1fr 1fr;
display: -ms-grid;
display: grid;


}



main > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;


}



main > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;


}



main > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;


}



main > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;


}



main > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;


}



main > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;


}
