main {
  grid-row: 3;
  grid-column: 1 / span 5;
  height: 100
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column-gap: 8%;
  text-align: center;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 8%;




}
#rose {
  width: 60%;
  height: 80%;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
}

.img_nav {
text-decoration: none;
color: black;
text-align: center;
font-size: 1.5em;
font-weight: 200;

}

#Ferns {
  height: 80%;
  width: 90%;
  grid-column: 2;
  grid-row: 1;
  text-align: center;
  align-self: center;
}


#footer_container {
  grid-row: 4;
}
#Palms {
  width: 70%;
  height: 80%;
  grid-column: 3;
  grid-row: 1;
  text-align: center;
  align-self: center;
  margin-top: 25%;

}

#Fertilisers{
  height: 80%;
  width: 80%;
}
#ToolsandEquipment {
  height: 70%;
  width: 80%;
}
#Irrigation{
  height:70%;
  width: 80%;
}
.first_row {
  grid-row: 2;
}

.second_row {
  grid-row: 4;
  margin-top: -65%;
}

.first_row #1, .second_row #4 {
  grid-column: 1;
}
.first_row #2, .second_row #5 {
  grid-column: 2;
}
.first_row #3, .second_row #6 {
  grid-column: 3;
}
