@media only screen and (max-width: 1400px) {

  #header {display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    height: 30vh;
  }
#nav_items {display: flex;
align-content: center;
justify-content: space-around;
}
#page_title {font-size: 5em;
  margin: auto;
}
#home {
height: 30vh;
margin: auto;
}

}

@media only screen and (max-width: 1200px) and (min-width: 850px) {




#page_title {font-size: 3.5em;
margin: auto;


}
#home {
height: 30vh;
margin: auto;
}

#span_f2 {
width: 10vw;
height: 10vh;
}

}
@media only screen and (max-width: 849px) {

#greenHouse {
margin-top: 10vh;
margin-bottom: 10vh;
}
#first_sec h2,   {
grid-row: 1;
grid-column: 2;
margin-bottom: 10vh;
}
  #first_sec p {
grid-row: 2;
grid-column: 2;
margin-bottom: 10vh;

}

.sec_img {

grid-row: 2;
grid-column: 2;
width: 75vw;
margin-bottom: 50vh;


}
#title_1, #title_2, #title_3 {
grid-row: 1;
grid-column: 2;
margin-top: 50vh;

}

.txt {
grid-row: 3;
grid-column: 2;
margin-top: 50vh;
}

#main_content {
  height: 100vh;

  width: 100vw;
}
#main_content2 {
height: 100vh;

  width: 100vw;}
#main_content3 {
    height: 100vh;

        width: 100vw;
}
#first_sec {
    height: 100%;

}

  #page_title {font-size: 3em;
  margin: auto;
  margin-right: 6vw;
  align-self: center;

  }
  #home {
  height: 30vh;
  margin: auto;
  width: 8em;
  }

 #span_f2 {
width: 13vw;
height: 10vh;
}
#first_sec {
-ms-grid-rows: 33% 33% 33%;
grid-template-rows: 33% 33% 33%;
-ms-grid-columns: 10% 80% 10%;
grid-template-columns: 10% 80% 10%;
}#first_sec > *:nth-child(1) {
-ms-grid-row: 1;
-ms-grid-column: 1;
}#first_sec > *:nth-child(2) {
-ms-grid-row: 1;
-ms-grid-column: 2;
}#first_sec > *:nth-child(3) {
-ms-grid-row: 1;
-ms-grid-column: 3;
}#first_sec > *:nth-child(4) {
-ms-grid-row: 2;
-ms-grid-column: 1;
}#first_sec > *:nth-child(5) {
-ms-grid-row: 2;
-ms-grid-column: 2;
}#first_sec > *:nth-child(6) {
-ms-grid-row: 2;
-ms-grid-column: 3;
}#first_sec > *:nth-child(7) {
-ms-grid-row: 3;
-ms-grid-column: 1;
}#first_sec > *:nth-child(8) {
-ms-grid-row: 3;
-ms-grid-column: 2;
}#first_sec > *:nth-child(9) {
-ms-grid-row: 3;
-ms-grid-column: 3;
}
#main_content {
-ms-grid-rows: 33% 33% 33%;
grid-template-rows: 33% 33% 33%;
-ms-grid-columns: 10% 80% 10%;
grid-template-columns: 10% 80% 10%;
}
#main_content > *:nth-child(1) {
-ms-grid-row: 1;
-ms-grid-column: 1;
}
#main_content > *:nth-child(2) {
-ms-grid-row: 1;
-ms-grid-column: 2;
}
#main_content > *:nth-child(3) {
-ms-grid-row: 1;
-ms-grid-column: 3;
}
#main_content > *:nth-child(4) {
-ms-grid-row: 2;
-ms-grid-column: 1;
}
#main_content > *:nth-child(5) {
-ms-grid-row: 2;
-ms-grid-column: 2;
}
#main_content > *:nth-child(6) {
-ms-grid-row: 2;
-ms-grid-column: 3;
}
#main_content > *:nth-child(7) {
-ms-grid-row: 3;
-ms-grid-column: 1;
}
#main_content > *:nth-child(8) {
-ms-grid-row: 3;
-ms-grid-column: 2;
}
#main_content > *:nth-child(9) {
-ms-grid-row: 3;
-ms-grid-column: 3;
}
#main_content2 {
-ms-grid-rows: 33% 33% 33%;
grid-template-rows: 33% 33% 33%;
-ms-grid-columns: 10% 80% 10%;
grid-template-columns: 10% 80% 10%;
}
#main_content2 > *:nth-child(1) {
-ms-grid-row: 1;
-ms-grid-column: 1;
}
#main_content2 > *:nth-child(2) {
-ms-grid-row: 1;
-ms-grid-column: 2;
}
#main_content2 > *:nth-child(3) {
-ms-grid-row: 1;
-ms-grid-column: 3;
}
#main_content2 > *:nth-child(4) {
-ms-grid-row: 2;
-ms-grid-column: 1;
}
#main_content2 > *:nth-child(5) {
-ms-grid-row: 2;
-ms-grid-column: 2;
}
#main_content2 > *:nth-child(6) {
-ms-grid-row: 2;
-ms-grid-column: 3;
}
#main_content2 > *:nth-child(7) {
-ms-grid-row: 3;
-ms-grid-column: 1;
}
#main_content2 > *:nth-child(8) {
-ms-grid-row: 3;
-ms-grid-column: 2;
}
#main_content2 > *:nth-child(9) {
-ms-grid-row: 3;
-ms-grid-column: 3;
}
#main_content3 {
-ms-grid-rows: 33% 33% 33%;
grid-template-rows: 33% 33% 33%;
-ms-grid-columns: 10% 80% 10%;
grid-template-columns: 10% 80% 10%;
}
#main_content3 > *:nth-child(1) {
-ms-grid-row: 1;
-ms-grid-column: 1;
}
#main_content3 > *:nth-child(2) {
-ms-grid-row: 1;
-ms-grid-column: 2;
}
#main_content3 > *:nth-child(3) {
-ms-grid-row: 1;
-ms-grid-column: 3;
}
#main_content3 > *:nth-child(4) {
-ms-grid-row: 2;
-ms-grid-column: 1;
}
#main_content3 > *:nth-child(5) {
-ms-grid-row: 2;
-ms-grid-column: 2;
}
#main_content3 > *:nth-child(6) {
-ms-grid-row: 2;
-ms-grid-column: 3;
}
#main_content3 > *:nth-child(7) {
-ms-grid-row: 3;
-ms-grid-column: 1;
}
#main_content3 > *:nth-child(8) {
-ms-grid-row: 3;
-ms-grid-column: 2;
}
#main_content3 > *:nth-child(9) {
-ms-grid-row: 3;
-ms-grid-column: 3;
}

.sec_img {

-ms-grid-row: 1;

grid-row: 1;
-ms-grid-column: 2;
grid-column: 2;
margin-top: 15%;


}

#title_1, #title_2, #title_3 {
-ms-grid-row: 2;
grid-row: 2;
-ms-grid-column: 2;
grid-column: 2;
padding-top: 10%;
height: 25%;
margin-top: 10%;
}
.txt {
-ms-grid-row: 3;
grid-row: 3;
-ms-grid-column: 2;
grid-column: 2;
margin-top: 5%;
margin-bottom: 5%;
padding-bottom: 5%;

}


#footer_container, #footer_details {
display: none;
}



}


@media only screen and (max-width: 670px) {
/*
#page_title {font-size: 2.5em;;
margin: auto;
margin-right: 6vw;
align-self: center;

}
#home {
height: 30vh;
margin: auto;
width: 8em;
}
#footer_container, #footer_details {
display: none;
}
.sec_img {

-ms-grid-row: 1;

grid-row: 1;
-ms-grid-column: 2;
grid-column: 2;
height: 50vh;

margin-top: 200%;

}

#title_1, #title_2, #title_3 {
-ms-grid-row: 2;
grid-row: 2;
-ms-grid-column: 2;
grid-column: 2;
padding-top: 50%;
height: 100%;
margin-top: 100%;
padding-bottom: 100%;
}
.txt {
-ms-grid-row: 3;
grid-row: 3;
-ms-grid-column: 2;
grid-column: 2;
padding-top: 50%;
margin-top: 100%;
padding-bottom: 5%;

}
fix the space between first sec and main content
} */

@media only screen and (max-width: 669px){


  #page_title {font-size: 2.5em;;
  margin: auto;
  margin-right: 6vw;


  }
  #home {
  height: 30vh;
  margin: auto;
  width: 8em;
  }
  #footer_container, #footer_details {
  display: none;
  }
  .sec_img {

  -ms-grid-row: 1;

  grid-row: 1;
  -ms-grid-column: 2;
  grid-column: 2;
  margin-top: 200%;



  }

  #title_1, #title_2, #title_3 {
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-column: 2;
  grid-column: 2;

  margin-top: 80%;

  }
  .txt {
  -ms-grid-row: 3;
  grid-row: 3;
  -ms-grid-column: 2;
  grid-column: 2;
margin-top: 200%;
margin-bottom: 300%;

}

#main_content {
  margin-top: 50px;
}
#main_content2 {}
#main_content3 {}

}
